.carousel_movies
{
    width: 1400px;
}

.elips_left
{
    position: relative;
    width: 70px;
    height: 70px;
    background: #15A98C;
    border-radius: 50px;
    margin-right: 0px;
    float: left;
    display: inline-flex;
    top: 65px;
}

.elips_right
{
    position: relative;
    width: 70px;
    height: 70px;
    background: #15A98C;
    border-radius: 50px;
    margin-right: 0px;
    float: right;
    display: inline-flex;
    top: 65px;
}

.elips_left:hover
{
    background: #098d71;
}

.elips_right:hover
{
    background: #098d71;
}

.left_arrow
{
    position: absolute;
    width: 19.66px;
    height: 33px;
    top: 17px;
    left: 15px;
}

.right_arrow
{
    position: absolute;
    width: 19.66px;
    height: 33px;
    top: 17px;
    left: 25px;
}

.left_down_arrow
{
    position: absolute;
    width: 22.94px;
    height: 0px;
    border: 3px solid #FFFFFF;
    transform: rotate(49.21deg);
    top: 25px;
    background-color: #FFFFFF;
}

.left_up_arrow
{
    position: absolute;
    width: 25px;
    height: 0px;
    border: 3px solid #FFFFFF;
    transform: rotate(-45deg);
    top: 7px;
    background-color: #FFFFFF;
}

.right_down_arrow
{
    position: absolute;
    width: 22.94px;
    height: 0px;
    border: 3px solid #FFFFFF;
    transform: rotate(-45deg);
    top: 26px;
    background-color: #FFFFFF;
}

.right_up_arrow
{
    position: absolute;
    width: 25px;
    height: 0px;
    border: 3px solid #FFFFFF;
    transform: rotate(49.21deg);
    top: 7px;
    background-color: #FFFFFF;
}