.form_block
{
    width: 780px;
    margin: auto;
    margin-bottom: 41px;
    display: block;
    position: relative;
}

.form_value
{
    list-style: none;
    margin: 0px 0 0px;
    padding: 0px 0 0px;
    text-align: left;
    background: white;
}

.title 
{
    margin-bottom: 40px;
    text-align: center; 
}

.title_h2
{
    font: 300 36px/42px 'Open Sans', sans-serif, Verdana;
    color: #333333;
    text-align: center; 
    display: inline-block;
    vertical-align: middle;
}

.title_h2:before,
.title_h2:after 
{
    content: ""; /*иначе псевдоэлементы не появятся на сайте */
    display: inline-block;
    vertical-align: middle;
    width: 200px;
    height: 1px;
    background-color: #333333;
    position: relative; /* Добавляем пседоэлемантам возможность изменить позицию линии, для создания отступов от текста */
    opacity: 0.5;
}

.title_h2:before 
{
    margin-left: -100%;
    left: -14px;
}

.title_h2:after 
{
    margin-right: -100%;
    right: -14px;
}

.label_first
{
    font: 400 20px/32px 'Open Sans', sans-serif, Verdana;
    color: #333;
    margin-bottom: 10px;
}

.label_first:after
{
    color: red;
    content: " *";
}

.label_second
{
    font: 400 20px/32px 'Open Sans', sans-serif, Verdana;
    color: #333;
    display: block;
    margin-bottom: 4px;
}


.radio_label
{
    font: 400 18px/32px 'Open Sans', sans-serif, Verdana;
    color: #333;
    margin: 0 36px 0 0;
}

.radio_button
{
    margin: 3px 9px 0 0;
}

.form_style
{
    width: 540px;
    margin: auto;
    padding-left: 8px;
}

.form_margin_between
{
    margin-bottom: 25px;
}

.input_field
{
    margin-top: 4px;
    width: 500px; /* Ширина поля с учетом padding */
    height: 43px; /* Высота */
    border: 2px solid #c9c9c9;
    font: 400 18px/32px 'Open Sans', sans-serif, Verdana;
    color: #555555;
    padding: 1px 18px;
    border-radius: 3px;
}

.input_field:focus
{
    background-color: #c9c9c9;
    border: 2px solid #15a98c;
    border-radius: 3px;
}

.newSelect_style
{
    border: 2px solid #a6a6a6;
    overflow: hidden; 
    height: 46px;
    background: url('../images/arrow_down.png') no-repeat right #FFF;
    background-position: 97%;
    width: 535px;
    margin-right: 20px; 
    border-radius: 3px;
}

.newSelect_style select
{
    border-radius: 0;
    background: transparent;
    height: 46px;
    padding: 5px 5px 5px 18px;
    border: 0;
    line-height: 1;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 535px;
    color: #555555;
    font: 400 18px/32px 'Open Sans', sans-serif, Verdana;
}

.newSelect_style select option
{
    color: #555555;
    font: 400 18px/32px 'Open Sans', sans-serif, Verdana;
}

.margin_radio
{
    margin: 43px 0 36px 0;
}

.for_textarea
{
    margin-top: 3px;
    border: 2px solid #c9c9c9;
    color: #555555;
    font: 400 18px/32px 'Open Sans', sans-serif, Verdana;
    width: 532px;
    height: 140px;
    resize: none;
    border-radius: 3px;
}

.form_button
{
    margin: 22px 0 12px 1px;
    font: 19px/32px Georgia, sans-serif, Verdana;  
    color: #f5f5f5;
    width: 220px;
    height: 50px;
    border-radius: 5px;
    background-color: #15a98c;
    text-align: center;
    border: none;
}

.form_button:hover
{
    background-color: #098d71;
}