.form_Block
{
    width: 780px;
    height: 860px;
    margin: auto;
    display: block;
    padding-top: 25px;
    position: relative;
    left: -5px;
    margin-bottom: 41px;
}

.form_Value
{
    list-style: none;
    margin: 0px 0 0px;
    padding: 0px 0 0px;
    text-align: left;
    background: white;
}

.title 
{
    font-size: 36px;
    line-height: 42px;
    color: #333333;
    font-family: 'Open Sans', sans-serif, Verdana;
    font-weight: 300;
    text-align: center; 
    margin-bottom: 68px;
}

.title span 
{
    display: inline-block;
    vertical-align: middle;
}

.title:before,
.title:after 
{
    content: ""; /*иначе псевдоэлементы не появятся на сайте */
    display: inline-block;
    vertical-align: middle;
    width: 200px;
    height: 1px;
    background-color: #333333;
    position: relative; /* Добавляем пседоэлемантам возможность изменить позицию линии, для создания отступов от текста */
    opacity: 0.5;
}

.title:before 
{
    margin-left: -100%;
    left: -14px;
}

.title:after 
{
    margin-right: -100%;
    right: -14px;
}

.label_First
{
    font-size: 20px;
    line-height: 32px;
    color: #333;
    font-family: 'Open Sans', sans-serif, Verdana;
    font-weight: 400;
    margin-bottom: 10px;
}

.label_First:after
{
    color: red;
    content: " *";
}

.label_Second
{
    font-size: 20px;
    line-height: 32px;
    color: #333;
    font-family: 'Open Sans', sans-serif, Verdana;
    font-weight: 400;
    display: block;
    margin-bottom: 4px;
}


.radio_Label
{
    font-size: 18px;
    line-height: 32px;
    color: #333;
    font-family: 'Open Sans', sans-serif, Verdana;
    font-weight: 400;
    margin-left: 0px;
    margin-right: 36px;
}

.radio_Button
{
    margin-left: 0px;
    margin-right: 9px;
}

form
{
    width: 540px;
    margin: auto;
    padding-left: 8px;
}

form ul
{
    flex-direction: column-reverse;
    vertical-align: middle;
    text-align: center; 
    flex-basis: content;
}

form li
{
    margin-bottom: 59px;
}

.input_Field
{
    margin-top: 4px;
    width: 500px; /* Ширина поля с учетом padding */
    height: 43px; /* Высота */
    border: 2px solid #a6a6a6;
    font-size: 18px;
    line-height: 32px;
    color: #555555;
    font-family: "Open Sans";
    font-weight: 400;
    padding-left: 18px;
    padding-right: 18px;
    border-radius: 3px;
}

.input_Field:focus
{
    background-color: #c9c9c9;
    border: 2px solid #15a98c;
    border-radius: 3px;
}

.newSelect_Style
{
    border: 2px solid #a6a6a6;
    overflow: hidden; 
    height: 46px;
    background: url('../images/arrow_down.png') no-repeat right #FFF;
    background-position: 97%;
    width: 535px;
    margin-right: 20px; 
    border-radius: 3px;
}

.newSelect_Style select
{
    border-radius: 0;
    background: transparent;
    height: 46px;
    padding: 5px;
    padding-left: 18px;
    border: 0;
    font-size: 18px;
    line-height: 1;
    -webkit-appearance: none;
    width: 535px;
    color: #555555;
    font-family: 'Open Sans', sans-serif, Verdana;
    font-size: 18px;
    line-height: 32px;
    font-weight: 400;
}

.newSelect_Style select option
{
    color: #555555;
    font-family: 'Open Sans', sans-serif, Verdana;
    font-size: 18px;
    line-height: 32px;
    font-weight: 400;
}

.margin_Li
{
    margin-top: 19px;
    margin-bottom: 54px;
}

textarea
{
    margin-top: 3px;
    border: 2px solid #a6a6a6;
    color: #555555;
    font-family: 'Open Sans', sans-serif, Verdana;
    font-size: 18px;
    line-height: 32px;
    font-weight: 400;
    width: 532px;
    height: 140px;
    resize: none;
    border-radius: 3px;
}

.form_Button
{
    margin-top: 47px;
    margin-left: 1px;
    font-size: 19px;
    line-height: 32px;
    color: #f5f5f5;
    font-family: Georgia, sans-serif, Verdana;  
    width: 220px;
    height: 50px;
    border-radius: 5px;
    background-color: #15a98c;
    text-align: center;
    border: none;
}

.form_Button:hover
{
    background-color: #098d71;
}