.menu_main 
{
    list-style: none;
    margin: 0px 0 0px 20px;
    padding: 0px 0 0px;
    text-align: left;
    height: 50px;
    background: white;
}

.menu_main li 
{
    display: inline-block;
    height: 50px;
}

.widthLi_first
{
    width: 136px;   
}

.widthLi_second
{
    width: 156px;   
}

.widthLi_third
{
    width: 230px;   
}

.menu_main a 
{
    text-decoration: none;
    font-family: Georgia, sans-serif;
    position: relative;
    padding: 15px 0 15px 15px;
    margin: 0 0px 0 0px;
    font-size: 19px;
    color: #333333;
    display: inline-block;
    transition: color .2s; /*время на изменение цвета*/
    width: 90%;
    text-align: left;
}

.menu_main a:hover 
{
    background-color: #15a98c;
    color: #f5f5f5;   
}

.menu_main a:hover .aboutme_icon 
{
    filter: invert(1);
}

.menu_main a:hover .heart_icon 
{
    filter: invert(1);
}

.menu_main a:hover .video_icon 
{
    filter: invert(1);
}

.aboutme_icon
{ 
    float: left;
    display: block;
    position: relative;
    background-image: url('../images/aboutme.png');
    background-repeat: no-repeat;
    background-size: 18px 18px;
    position: relative;
    background-position: left center;
    height: 18px;
    width: 18px;
    margin: 0 5px 0 5px;
}

.heart_icon
{
    background-image: url('../images/hearth.png');
}

.video_icon
{
    background-image: url('../images/video.png');
}