.movies
{
    width: 1400px;
    margin: 93px auto 75px auto;
}

.h2_movie
{
    font-size: 36px;
    font-family: 'Open Sans', sans-serif, Verdana;
    color: #333;
    line-height: 42px;
    font-weight: 400; 
    margin: 0 0 23px 100px;
}

.movies_block
{
    display: inline-flex;
    margin: -70px 0 0 100px;
    width: 1200px;
}

.movie
{
    margin-top: 10px; 
    width: 285px;
    float: left;
}

.movie_h3
{
    font-size: 22px;
    line-height: 32px;
    color: #333333;
    font-family: 'Open Sans', sans-serif, Verdana;
    font-weight: 700;
    margin: 19px 0 18px 0;
}

.movie_p
{
    font-size: 16px;
    line-height: 28px;
    color: #555555;
    font-family: Georgia, sans-serif, Verdana;  
}

.left_movie
{
    margin-left: 20px;
}

.movie_button
{
    display: block;
    font-size: 19px;
    line-height: 32px;
    text-decoration: none;
    padding-top: 11px;
    color: #f5f5f5;
    font-family: Georgia, sans-serif, Verdana;   
    background-color: #15a98c;
    text-align: center;
    margin: 37px auto 0 auto;
    border-radius: 5px;
    border: none;
    width: 220px;
    height: 40px;
}

.movie_button:hover
{
    background-color: #098d71;
}

.movie_picture
{
    width:285px;
    height: 190px; 
    border-radius: 6px;
}

